<div class="center jumbotron">
  <h1>Welcome to the Best Condition Note</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to root_path, class: "logo-link" do %>
  <span class="maintitle">最強の体調</span>
  <span class="description">THE BULLETPROOF CONDITION</span>
<% end %>