<h1>パスワードの再設定</h1>

<p>こんにちは、<%= @user.name %> さん</p>

<p>
Best Condition Noteをご利用いただきありがとうございます。<br>
パスワードの再設定は以下のURLからお願いします。<br>
このURLの有効期限は24時間です。<br>
<%= link_to edit_password_reset_url(@user.reset_token, email: @user.email),
            edit_password_reset_url(@user.reset_token, email: @user.email) %>
</p>