<div class="chart-container">
  <div class="scrollableChartWrapper">
    <canvas id="chart"></canvas>
  </div>
  <div class="fixed-legend">
      <div>SLEEP</div>
      <div>MEAL</div>
      <div>MENTAL</div>
      <div>TRAINING</div>
      <div>CONDITION</div>
  </div>
</div>

<script>
    document.addEventListener('turbo:load', function() {
        
        // 既存のチャートを破棄
        if (window.myChart) {
            window.myChart.destroy();
        }

        var ctx = document.getElementById('chart');

        var scoresData = <%= raw @scores2.to_json %>;
            
        var labels = scoresData.sleep.map(item => item[0]);

        var xAxisLabelMinWidth = 30; // データ当たりの幅を設定
        var width = scoresData.sleep.length * xAxisLabelMinWidth; // グラフ全体の幅を計算

        if (width < 900) {
            ctx.style.width = "100%";
        } else {
            ctx.style.width = width + "px";
        }
        ctx.style.height = "700px"; //htmlと同じ高さを設定

        var myChart = new Chart(ctx.getContext('2d'), {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'SLEEP',
                        data: scoresData.sleep.map(item => item[1]),
                        // borderColor: 'blue',
                        // tension: 0.1
                    },
                    {
                        label: 'MEAL',
                        data: scoresData.meal.map(item => item[1]),
                        // borderColor: 'green',
                        // tension: 0.1
                    },
                    {
                        label: 'MENTAL',
                        data: scoresData.mental.map(item => item[1]),
                        // borderColor: 'red',
                        // tension: 0.1
                    },
                    {
                        label: 'TRAINING',
                        data: scoresData.training.map(item => item[1]),
                        // borderColor: 'purple',
                        // tension: 0.1
                    },
                    {
                        label: 'CONDITION',
                        data: scoresData.condition.map(item => item[1]),
                        // borderColor: 'orange',
                        // tension: 0.1
                    }
                ]
            },
            options: {
                responsive: false,
                plugins: {
                    title: {
                        display: false,
                    },
                    legend: {
                        display: false,
                        position: 'left',
                    },
                },
                scales: {
                    x: {
                        display: true,
                        type: 'time',
                        time: {
                            displayFormats: {
                                day: 'MM/dd'
                            }
                        },
                        grid: {
                            color: "rgba(0,0,255,0.03)",
                            lineWidth: 1,
                        },
                        ticks: {
                            maxRotation: 0
                        }
                    },
                    y: {
                        display: true,
                        beginAtZero: true,
                        ticks: {
                            display: false,
                            stepSize: 3,
                            maxTicksLimit: 20
                        },
                        grid: {
                            color: "rgba(0,0,255,0.1)",
                            lineWidth: 1,
                        }
                    },
                    }
                },
            });
        
        setTimeout(() => {
            const scrollableWrapper = document.querySelector('.scrollableChartWrapper');

            if (scrollableWrapper) {
                scrollableWrapper.scrollLeft = scrollableWrapper.scrollWidth;
            }
        }, 100);
    });
</script>