<h1>Condition Chart</h1>
<div class="button-group">
  <div class="period-selector btn-group">
    <%= period_graph_link '1ヶ月', 'month',        'daily' %>
    <%= period_graph_link '3ヶ月', 'three_months', 'daily' %>
    <%= period_graph_link '1年',   'year',         'weekly' %>
  </div>
</div> 

<%= render 'chart' %>
